@media (max-width: 767px) {
  .container-fluid, .row {
    padding:0px;
  }
  .navbar-header {
    margin:0px;
  }
}

.lt-logo{
  transition: 0.7s;
}

.lt-logo:hover{
   -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto
}
